<h3>Here are the places you've been:</h3>

<%= @html_list %>

<form action="/" method="post">
  <div class="form-group">
    <label for="location"></label>

    <input id="location" name="location" type="text" class="form-control">

    <button type="submit">Add Location</button>
  </div>
</form>
