<p>Here are the places you've been:</p>

<%= @html_list %>
  <!--<%= @places %>-->

<form action="/" method="post">
  <label for="location">List of Locations</label>

  <input id="location" name="location" type="text">

  <button type="submit">Add Location</button>

</form>
